<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>{{current_article.title}}-{{options.title}}</title>
  <meta name="keywords" content="{{current_article.seo_keywords},刺绣创业,刺绣定制,绣花机" />
  <meta name="description" content="{{current_article.seo_desc}}" />
  <link rel="shortcut icon" href="http://admin.e-sewing.vip/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/vendor.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/theme.minc619.css?v=1.0">
</head>

<body>
  {% include "header.html" %}
  <main id="content" role="main">
    <div class="container content-space-t-3 content-space-t-lg-4 content-space-b-2">
      <div class="w-lg-65 mx-lg-auto">
        <div class="mb-4">
          <h1 class="h2">{{current_article.title}}</h1>
        </div>

      <div class="w-lg-90 mx-lg-auto">
        {{ current_article.content |safe }}
      </div>

    </div>
      <div class="container content-space-t-1">
        <div class="row justify-content-lg-center">
          <div class="col-lg-8">
            <ul class="internet_options">
              <li>
                <span>上一篇：</span>
                {% if prev_article.title %}
                <a href="{{prev_article .full_path}}">
                  {{prev_article.title}}
                </a>
                {% else %}
                没有了
                {% endif %}
              </li>

              <li>
                <span>下一篇：</span>
                {% if next_article.title  %}
                <a href="{{next_article .full_path}}">
                  {{next_article.title}}
                </a>
                {% else %}
                没有了
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="w-lg-75 border-top content-space-2 mx-lg-auto">
          <!-- Heading -->
          <div class="mb-3 mb-sm-5">
            <h2>阅读更多</h2>
          </div>
          <!-- End Heading -->
          <div class="row">
            {% for item in newest_list %}
            <div class="col-md-6">
              <!-- Card -->
              <div class="border-bottom h-100 py-5">
                <div class="row justify-content-between">
                  <div class="col-6">
<!--                    <a class="text-cap" href="#"></a>-->
                    <h4 class="mb-0">
                      <a class="text-dark" href="{{item.full_path}}">{{item.title}}</a>
                    </h4>
                  </div>
                  <!-- End Col -->

                  <div class="col-5">
                    <img class="img-fluid rounded" src="{{item.cover_image}}" alt="易绣科技">
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Card -->
            </div>
            {% endfor %}
          </div>
          <!-- End Row -->
        </div>
      </div>
    </div>
  </main>
  {% include "footer.html" %}
</body>
</html>
