<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  {% if current_cate %}<title>{{current_cate.category_name}}-所见即所绣-刺绣定制解决方案-云易绣</title>{% else %}<title>新闻中心-所见即所绣-刺绣定制解决方案-云易绣</title>{% endif %}
  <meta name="keywords" content="刺绣创业,刺绣开店,刺绣机,扫码刺绣，刺绣软件,刺绣定制解决方案" />
  <meta name="description" content="云易绣系统解决了一直困扰刺绣定制服务的难点： 刺绣设计管理后台→解决花样生成，区别一般定制模板与刺绣设计定制分类以及对应不同客户体验的解决方案，云易绣（刺绣定制SAAS服务系统，发明专利），让您在这个行业没有难做的刺绣，走出模式困惑，感兴趣致电联系：易绣科技 18257539757" />
  <link rel="shortcut icon" href="http://admin.e-sewing.vip/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/vendor.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/css/theme.minc619.css?v=1.0">
</head>
<body>
  {% include "header.html" %}
  <main id="content" role="main">
    <!-- Hero -->
    <div class="position-relative">
      <!-- Swiper Main Slider -->
      <div class="js-swiper-blog-journal-hero swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url({{newest_list[0].cover_image}}); min-height: 40rem;">
            <!-- Container -->
            <div class="container d-flex align-items-center" style="min-height: 40rem;">
              <div class="w-lg-50 me-3">
                <!-- Media -->
                <div class="d-flex align-items-center mb-3">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-circle">
                      <img class="avatar-img" src="http://cos-cx-n1-1257124629.cos.ap-guangzhou.myqcloud.com/design/avatar/13/31/2020-07-13/9f4e9533-50c1-4d4d-b25b-d6fb55b3e241.jpg" alt="Image Description">
                    </div>
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <a class="text-white" href="{{newest_list[0].full_path}}">易绣科技</a>
                  </div>
                </div>
                <div class="mb-5">
                  <h2 class="h1 text-white">{{newest_list[0].title}}</h2>
                </div>

                <a class="btn btn-primary btn-transition" href="{{newest_list[0].full_path}}">阅读文章 <i class="bi-chevron-right small ms-1"></i></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url(assets/img/1920x1080/img5.jpg); min-height: 40rem;">
            <!-- Container -->
            <div class="container d-flex align-items-center" style="min-height: 40rem;">
              <div class="w-lg-50 me-3">
                <!-- Media -->
                <div class="d-flex align-items-center mb-3">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-circle">
                      <img class="avatar-img" src="assets/img/160x160/img10.jpg" alt="Image Description">
                    </div>
                  </div>

                  <div class="flex-grow-1 ms-3">
                    <a class="text-white" href="{{newest_list[0].full_path}}">Christina Kray</a>
                  </div>
                </div>
                <!-- End Media -->

                <div class="mb-5">
                  <h2 class="h1 text-white">Front Corporate - let's work together</h2>
                </div>

                <a class="btn btn-primary btn-transition" href="{{newest_list[0].full_path}}">Read article <i class="bi-chevron-right small ms-1"></i></a>
              </div>
            </div>
            <!-- End Container -->
          </div>

          <div class="swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url(assets/img/1920x1080/img4.jpg); min-height: 40rem;">
            <!-- Container -->
            <div class="container d-flex align-items-center" style="min-height: 40rem;">
              <div class="w-lg-50 me-3">
                <!-- Media -->
                <div class="d-flex align-items-center mb-3">
                  <div class="flex-shrink-0">
                    <div class="avatar avatar-circle">
                      <img class="avatar-img" src="assets/img/160x160/img4.jpg" alt="Image Description">
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <a class="text-white" href="{{newest_list[0].full_path}}">Jeff Fisher</a>
                  </div>
                </div>
                <!-- End Media -->

                <div class="mb-5">
                  <h2 class="h1 text-white">How Google Assistant now helps you record stories</h2>
                </div>

                <a class="btn btn-primary btn-transition" href="{{newest_list[0].full_path}}">Read article <i class="bi-chevron-right small ms-1"></i></a>
              </div>
            </div>
            <!-- End Container -->
          </div>
        </div>
        <div class="js-swiper-blog-journal-hero-pagination swiper-pagination swiper-pagination-light swiper-pagination-vertical swiper-pagination-middle-y-end me-3 d-lg-none"></div>
      </div>
      <div class="d-none d-lg-block container translate-middle-y position-absolute top-50 start-0 end-0 zi-2">
        <div class="translate-middle-y position-absolute top-50 end-0">
          <div class="js-swiper-blog-journal-hero-thumbs swiper-container" style="opacity:0;max-width: 13rem;">
            <div class="swiper-wrapper">
              <!-- Slide -->
              <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light">
                <p class="text-white">Front Interview with a Lead Designer of the Hubble</p>

                <div class="swiper-pagination-progress-body">
                  <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper"></div>
                </div>
              </div>
              <!-- End Slide -->

              <!-- Slide -->
              <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light">
                <p class="text-white">Front Corporate - let's work together</p>

                <div class="swiper-pagination-progress-body">
                  <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper"></div>
                </div>
              </div>
              <!-- End Slide -->

              <!-- Slide -->
              <div class="swiper-slide swiper-pagination-progress swiper-pagination-progress-light">
                <p class="text-white">How Google Assistant now helps you record stories</p>

                <div class="swiper-pagination-progress-body">
                  <div class="js-swiper-pagination-progress-body-helper swiper-pagination-progress-body-helper"></div>
                </div>
              </div>
              <!-- End Slide -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container content-space-2 content-space-lg-1">
      <ul class="js-filter-options nav nav-segment nav-pills d-flex mx-auto mb-7" style="max-width: 25rem;">
        <li class="nav-item">
          {% if current_cate === null %}
          <a class="nav-link active" href="/news.html" data-group="all">全部</a>
          {% else %}
          <a class="nav-link" href="/news.html" data-group="all">全部</a>
          {% endif %}
        </li>
        {% for item in category %}
        {% if item.category_id==current_cate.category_id %}
        <li class="nav-item">
          <a class="nav-link active" href="{{item.url}}" data-group="branding">{{item.category_name}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{item.url}}" data-group="branding">{{item.category_name}}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <!-- End Nav -->
      <div class="row justify-content-lg-between">
        <div class="col-lg-8 mb-10 mb-lg-0">
          <div class="d-grid gap-7 mb-7">
            <!-- Card -->
            {% for item in current_list %}
            <div class="card card-flush card-stretched-vertical">
              <div class="row">
                <div class="col-sm-5">
                  <img class="card-img" src="{{item.cover_image}}" alt="Image Description">
                </div>
                <div class="col-sm-7">
                  <div class="card-body">
                    <h3 class="card-title">
                      <a class="text-dark"  href="{{item.full_path}}">{{item.title}}</a>
                    </h3>
                    <p class="card-text">{{item.summary}}</p>
                    <div class="card-footer">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <a class="avatar avatar-circle" href="{{item.full_path}}">
                            <img class="avatar-img" src="http://cos-cx-n1-1257124629.cos.ap-guangzhou.myqcloud.com/design/avatar/13/31/2020-07-13/9f4e9533-50c1-4d4d-b25b-d6fb55b3e241.jpg" alt="易绣科技">
                          </a>
                        </div>

                        <div class="flex-grow-1 ms-3">
                          <a class="card-link link-dark" href="{{item.full_path}}">{{item.author}}</a>
                          <p class="card-text small">{{item.created_at}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div id="stickyBlockEndPoint"></div>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">
                    <i class="bi-chevron-double-left small"></i>
                  </span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="?page=1">首页</a></li>
              <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
              <li class="page-item"><a class="page-link" href="?page={{page+1}}">{{page+1}}</a></li>
              <li class="page-item"><a class="page-link" href="?page={{page+2}}">{{page+2}}</a></li>
              <li class="page-item"><a class="page-link" href="?page={{page+3}}">{{page+3}}</a></li>
              <li class="page-item"><a class="page-link" href="?page={{page+4}}">{{page+4}}</a></li>
<!--              <li class="page-item disabled"><a class="page-link" href="?page=4">...</a></li>-->
              <li class="page-item">
                <a class="page-link" href="?page={{page+1}}" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="bi-chevron-double-right small"></i>
                  </span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Pagination -->
        </div>
        <div class="col-lg-3">
          <!-- Sticky Block Start Point -->
          <div id="stickyBlockStartPoint"></div>

          <div class="js-sticky-block"
               data-hs-sticky-block-options='{
                 "parentSelector": "#stickyBlockStartPoint",
                 "targetSelector": "#header",
                 "breakpoint": "md",
                 "startPoint": "#stickyBlockStartPoint",
                 "endPoint": "#stickyBlockEndPoint",
                 "stickyOffsetTop": 80
               }'>
            <div class="mb-7">
              <div class="mb-3">
                <h3>最新文章</h3>
              </div>
              <div class="d-grid gap-2">
                {% for item in newest_list %}
                <a class="d-block" href="{{item.full_path}}">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <div class="avatar avatar-lg">
                        <img class="avatar-img" src="{{item.cover_image}}" alt="易绣科技">
                      </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h5 class="text-inherit mb-0">{{item.title}}</h5>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
            </div>

<!--            <div class="mb-7">-->
<!--              <div class="mb-3">-->
<!--                <h3>Tags</h3>-->
<!--              </div>-->

<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Business</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Adventure</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Community</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Announcements</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Tutorials</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Resources</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Classic</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Photography</a>-->
<!--              <a class="btn btn-soft-secondary btn-xs mb-1" href="#">Interview</a>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include "footer.html" %}
</body>
</html>
