<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Keywords" content="刺绣定制,刺绣定制解决方案,刺绣软件,扫码刺绣,刺绣打版培训,刺绣开店方案,logo个性刺绣,服装个性刺绣,签名绣,刺绣文创项目,创意刺绣培训,诸暨刺绣机,云易绣,易绣科技"/>
  <meta name="Description" content="云易绣刺绣定制系统（刺绣定制SAAS服务系统，发明专利），让您在这个行业没有难做的刺绣，走出模式困惑，感兴趣致电联系：易绣科技 18257539757"/>
  <title>扫码刺绣_刺绣定制解决方案_刺绣软件-云易绣-易绣科技</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/css/vendor.min.css">
  <link rel="stylesheet" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/assets/vendor/aos/dist/aos.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/assets/css/theme.minc619.css?v=1.0">
</head>

<body id="homeSection"  class="position-relative">
  <!-- ========== HEADER ========== -->
  {% include "header.html" %}
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="gradient-x-overlay-sm-primary position-relative overflow-hidden">
      <div class="container content-space-t-3 content-space-t-lg-4 content-space-b-2">
        <div class="w-lg-65 text-center mx-lg-auto">
          <!-- Heading -->
          <div class="mb-5">
            <h1 class="display-4 mb-3"><span class="text-primary">#1</span> 刺绣定制解决方案.</h1>
            <p class="lead">所见即所绣——欢迎现场扫码体验刺绣定制 云易绣（简称Yes-SAAS）系统是易绣科技公司推出的刺绣一件定制工艺开发应用技术，云易绣扫码刺绣，所见即所绣定制体验，尤其适合服装产业轻定制改造、对接门店&设计创业，集科技感、体验感、实用性于一体。.</p>
          </div>
          <!-- End Heading -->

          <div class="d-grid d-sm-flex justify-content-sm-center align-items-sm-center gap-3">
            <a class="btn btn-primary btn-transition" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">联系我们</a>
            <small>or</small>
            <a class="btn btn-soft-dark btn-transition" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">询问价格 <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
      </div>

      <!-- Mockup -->
      <div class="container content-space-b-2 content-space-b-lg-3">
        <div class="position-relative w-lg-75 text-center mx-lg-auto">
          <!-- Browser Device -->
          <figure class="device-browser">
            <div class="device-browser-header">
              <div class="device-browser-header-btn-list">
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
                <span class="device-browser-header-btn-list-btn"></span>
              </div>
              <div class="device-browser-header-browser-bar">www.yuneshow.com</div>
            </div>

            <div class="device-browser-frame">
              <video width="100%" height="500rem"  controls src="{{play_url}}"></video>
<!--              <img class="device-browser-img" src="/assets/img/1618x1010/img1.jpg" alt="Image Description">-->
            </div>
          </figure>
          <!-- End Browser Device -->

          <!-- SVG Shape -->
          <figure class="position-absolute top-0 end-0 mt-n10 me-n10" style="width: 12rem;" data-aos="fade-up" data-aos-delay="100" data-aos-offset="-50">
            <img class="img-fluid" src="/assets/svg/components/dots-lg.svg" alt="Image Description">
          </figure>
          <!-- End SVG Shape -->

          <!-- SVG Shape -->
          <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 10rem;" data-aos="fade-up">
            <img class="img-fluid" src="/assets/svg/components/dots.svg" alt="Image Description">
          </figure>
          <!-- End SVG Shape -->
        </div>
      </div>
      <!-- End Mockup -->

      <!-- SVG Background Shape -->
      <figure class="position-absolute top-0 end-0 zi-n1 mt-n10 me-n10" style="width: 32rem;">
        <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M451 820C247.2 820 82 654.8 82 451C82 247.2 247.2 82 451 82" stroke="white" stroke-width="164" stroke-miterlimit="10"/>
        </svg>
      </figure>
      <!-- End SVG Background Shape -->

      <!-- SVG Background Shape -->
      <figure class="position-absolute bottom-0 start-0 zi-n1 mb-n10 me-n10" style="width: 21rem;">
        <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.125" d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820" stroke="url(#paint1_linear)" stroke-width="164" stroke-miterlimit="10"/>
          <defs>
            <linearGradient id="paint1_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="white" stop-opacity="0"/>
              <stop offset="1" stop-color="#377dff"/>
            </linearGradient>
          </defs>
        </svg>
      </figure>
      <!-- End SVG Background Shape -->
    </div>
    <!-- End Hero -->
    <div class="container text-center">
      <div class="device">
        <!-- Mobile Device -->
        <figure class="device-mobile rotated-3d-right">
          <div class="device-mobile-frame">
            <img class="device-mobile-img" src="/assets/img/fangan/微信截图_20210918170529.png" alt="图片描述">
          </div>
        </figure>
        <!-- End Mobile Device -->
        <!-- Browser Device -->
        <figure class="device-browser">
          <div class="device-browser-header">
            <div class="device-browser-header-btn-list">
              <span class="device-browser-header-btn-list-btn"></span>
              <span class="device-browser-header-btn-list-btn"></span>
              <span class="device-browser-header-btn-list-btn"></span>
            </div>
            <div class="device-browser-header-browser-bar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">www.yuneshow.com</font></font></div>
          </div>

          <div class="device-browser-frame">
            <img class="device-browser-img" src="/assets/img/fangan/微信截图_20210918170529.png" alt="图片描述">
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <div class="device">
        <!-- Mobile Device -->
        <figure class="device-mobile rotated-3d-right">
          <div class="device-mobile-frame">
            <img class="device-mobile-img" src="/assets/img/fangan/微信截图_20210918170529.png" alt="图片描述">
          </div>
        </figure>
        <!-- End Mobile Device -->
        <!-- Browser Device -->
        <figure class="device-browser">
          <div class="device-browser-header">
            <div class="device-browser-header-btn-list">
              <span class="device-browser-header-btn-list-btn"></span>
              <span class="device-browser-header-btn-list-btn"></span>
              <span class="device-browser-header-btn-list-btn"></span>
            </div>
            <div class="device-browser-header-browser-bar"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">www.yuneshow.com</font></font></div>
          </div>

          <div class="device-browser-frame">
            <img class="device-browser-img" src="/assets/img/fangan/微信截图_20210918170609.png" alt="图片描述">
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
    </div>
    <!-- Features -->
    <div id="featuresSection" class="container content-space-t-2 content-space-b-md-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2 class="h1">主要优势</h2>
        <p>互联网技术为刺绣行业赋能.</p>
      </div>
      <!-- End Heading -->

      <div class="row gx-3">
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
          <!-- Card -->
          <a class="card card-sm card-transition h-100" href="#">
            <div class="card-body">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 21C6 21.6 6.4 22 7 22H17C17.6 22 18 21.6 18 21V20H6V21Z" fill="#035A4B"/>
                <path opacity="0.3" d="M17 2H7C6.4 2 6 2.4 6 3V20H18V3C18 2.4 17.6 2 17 2Z" fill="#035A4B"/>
                <path d="M12 4C11.4 4 11 3.6 11 3V2H13V3C13 3.6 12.6 4 12 4Z" fill="#035A4B"/>
                </svg>

              </span>

              <h4 class="card-title">云易绣⽀持刺绣⼀件定制</h4>
              <p class="card-text text-body">设计管理系统把定制模板设置与刺绣⼯艺、花样数据处理等要素匹配，订单处理标准化、数字化，设计配⾊与绣线换⾊序对应绣线数据库，数字化联机传输刺绣，实现绣线与配⾊⾃动对应（发明专利技术）.</p>
            </div>

            <div class="card-footer pt-0">
              <span class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">立即联系 <i class="bi-chevron-right small ms-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
          <!-- Card -->
          <a class="card card-sm card-transition h-100" href="#">
            <div class="card-body">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="#035A4B"/>
                <path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="#035A4B"/>
                </svg>

              </span>

              <h4 class="card-title">刺绣定制实时预览效果实现所⻅即所绣</h4>
              <p class="card-text text-body">对⽐传统绣花加⼯，云易绣系统⽆需设置绣线配⾊与刺绣换⾊顺序，设计配⾊模板与联机刺绣订单处理 通过绣线数据库技术，⼿机扫码刺绣就可以体验所⻅即所绣的定制服务.</p>
            </div>

            <div class="card-footer pt-0">
              <span class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">立即联系 <i class="bi-chevron-right small ms-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
          <!-- Card -->
          <a class="card card-sm card-transition h-100" href="#">
            <div class="card-body">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M4 4L11.6314 2.56911C11.875 2.52343 12.125 2.52343 12.3686 2.56911L20 4V11.9033C20 15.696 18.0462 19.2211 14.83 21.2313L12.53 22.6687C12.2057 22.8714 11.7943 22.8714 11.47 22.6687L9.17001 21.2313C5.95382 19.2211 4 15.696 4 11.9033L4 4Z" fill="#035A4B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.175 14.75C10.9354 14.75 10.6958 14.6542 10.5042 14.4625L8.58749 12.5458C8.20415 12.1625 8.20415 11.5875 8.58749 11.2042C8.97082 10.8208 9.59374 10.8208 9.92915 11.2042L11.175 12.45L14.3375 9.2875C14.7208 8.90417 15.2958 8.90417 15.6792 9.2875C16.0625 9.67083 16.0625 10.2458 15.6792 10.6292L11.8458 14.4625C11.6542 14.6542 11.4146 14.75 11.175 14.75Z" fill="#035A4B"/>
                </svg>
              </span>
              <h4 class="card-title">⼿机扫码刺绣定制功能 <span class="badge badge-success badge-pill ml-1">sketch</span></h4>
              <p class="card-text text-body">授权控制系统定义⽹络刺绣设备通讯协议（发 明专利技术），建⽴刺绣软件培训与⼯艺开发对接系统后台→设计管理→ 刺绣⼀件定制的数字化处理技术.</p>
            </div>
            <div class="card-footer pt-0">
              <span class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">立即联系<i class="bi-chevron-right small ms-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3">
          <!-- Card -->
          <a class="card card-sm card-transition h-100" href="#">
            <div class="card-body">
              <span class="svg-icon text-primary mb-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M4.85714 1H11.7364C12.0911 1 12.4343 1.12568 12.7051 1.35474L17.4687 5.38394C17.8057 5.66895 18 6.08788 18 6.5292V19.0833C18 20.8739 17.9796 21 16.1429 21H4.85714C3.02045 21 3 20.8739 3 19.0833V2.91667C3 1.12612 3.02045 1 4.85714 1ZM7 13C7 12.4477 7.44772 12 8 12H15C15.5523 12 16 12.4477 16 13C16 13.5523 15.5523 14 15 14H8C7.44772 14 7 13.5523 7 13ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H8Z" fill="#035A4B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.85714 3H14.7364C15.0911 3 15.4343 3.12568 15.7051 3.35474L20.4687 7.38394C20.8057 7.66895 21 8.08788 21 8.5292V21.0833C21 22.8739 20.9796 23 19.1429 23H6.85714C5.02045 23 5 22.8739 5 21.0833V4.91667C5 3.12612 5.02045 3 6.85714 3ZM7 13C7 12.4477 7.44772 12 8 12H15C15.5523 12 16 12.4477 16 13C16 13.5523 15.5523 14 15 14H8C7.44772 14 7 13.5523 7 13ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H8Z" fill="#035A4B"/>
                </svg>

              </span>

              <h4 class="card-title">配⾊与绣线换⾊序</h4>
              <p class="card-text text-body">建⽴设计配⾊与绣线换⾊序对应关系的数据库，实现联机传输刺绣与绣 线⾃动配⾊对应，解决了定制订单刺绣花样与⼯艺要求不协调的难点.</p>
            </div>

            <div class="card-footer pt-0">
              <span class="card-link" data-bs-toggle="modal" data-bs-target="#exampleModal">立即联系 <i class="bi-chevron-right small ms-1"></i></span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Features -->

    <div id="aboutSection" class="container content-space-t-2 content-space-t-lg-3">
      <!-- Heading -->
      <div class="w-lg-75 text-center mx-auto mb-5 mb-sm-9">
        <h2 class="h1">定制体验流程</h2>
        <p>手机扫码刺绣流程的闭环</p>
      </div>
      <!-- End Heading -->

      <div class="row">
          <!-- Icon Blocks -->
          <div class="text-center col-sm-12 col-lg-12">
            <img style="width:100%" src="https://media-1257124629.cos.ap-shanghai.myqcloud.com/image/1222.png" alt="">
          <!-- End Icon Blocks -->
          </div>
      </div>
      <!-- End Row -->
    </div>


<!--    <div id="" class="container content-space-t-2 content-space-t-lg-3">-->
<!--      &lt;!&ndash; Heading &ndash;&gt;-->
<!--      <div class="w-lg-75 text-center mx-auto mb-5 mb-sm-9">-->
<!--        <h2 class="h1">What we do?</h2>-->
<!--        <p>A flexible theme for modern SaaS businesses</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; End Heading &ndash;&gt;-->

<!--      <div class="row">-->
<!--        <div class="col-md-4 mb-7">-->
<!--          &lt;!&ndash; Icon Blocks &ndash;&gt;-->
<!--          <div class="text-center px-lg-3">-->
<!--            <span class="svg-icon svg-icon-lg text-primary mb-3">-->
<!--              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path d="M15.6 5.59998L20.9 10.9C21.3 11.3 21.3 11.9 20.9 12.3L17.6 15.6L11.6 9.59998L15.6 5.59998ZM2.3 12.3L7.59999 17.6L11.6 13.6L5.59999 7.59998L2.3 10.9C1.9 11.3 1.9 11.9 2.3 12.3Z" fill="#035A4B"/>-->
<!--              <path opacity="0.3" d="M17.6 15.6L12.3 20.9C11.9 21.3 11.3 21.3 10.9 20.9L7.59998 17.6L13.6 11.6L17.6 15.6ZM10.9 2.3L5.59998 7.6L9.59998 11.6L15.6 5.6L12.3 2.3C11.9 1.9 11.3 1.9 10.9 2.3Z" fill="#035A4B"/>-->
<!--              </svg>-->

<!--            </span>-->

<!--            <h3>Industry-leading designs</h3>-->
<!--            <p>Achieve virtually any design and layout from within the one template.</p>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Blocks &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End Col &ndash;&gt;-->

<!--        <div class="col-md-4 mb-7">-->
<!--          &lt;!&ndash; Icon Blocks &ndash;&gt;-->
<!--          <div class="text-center px-lg-3">-->
<!--            <span class="svg-icon svg-icon-lg text-primary mb-3">-->
<!--              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M4.85714 1H11.7364C12.0911 1 12.4343 1.12568 12.7051 1.35474L17.4687 5.38394C17.8057 5.66895 18 6.08788 18 6.5292V19.0833C18 20.8739 17.9796 21 16.1429 21H4.85714C3.02045 21 3 20.8739 3 19.0833V2.91667C3 1.12612 3.02045 1 4.85714 1ZM7 13C7 12.4477 7.44772 12 8 12H15C15.5523 12 16 12.4477 16 13C16 13.5523 15.5523 14 15 14H8C7.44772 14 7 13.5523 7 13ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H8Z" fill="#035A4B"/>-->
<!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.85714 3H14.7364C15.0911 3 15.4343 3.12568 15.7051 3.35474L20.4687 7.38394C20.8057 7.66895 21 8.08788 21 8.5292V21.0833C21 22.8739 20.9796 23 19.1429 23H6.85714C5.02045 23 5 22.8739 5 21.0833V4.91667C5 3.12612 5.02045 3 6.85714 3ZM7 13C7 12.4477 7.44772 12 8 12H15C15.5523 12 16 12.4477 16 13C16 13.5523 15.5523 14 15 14H8C7.44772 14 7 13.5523 7 13ZM8 16C7.44772 16 7 16.4477 7 17C7 17.5523 7.44772 18 8 18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H8Z" fill="#035A4B"/>-->
<!--              </svg>-->

<!--            </span>-->

<!--            <h3>Learn from the docs</h3>-->
<!--            <p>Whether you're a startup or a global enterprise, learn how to integrate with Front.</p>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Blocks &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End Col &ndash;&gt;-->

<!--        <div class="col-md-4 mb-7">-->
<!--          &lt;!&ndash; Icon Blocks &ndash;&gt;-->
<!--          <div class="text-center px-lg-3">-->
<!--            <span class="svg-icon svg-icon-lg text-primary mb-3">-->
<!--              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path fill-rule="evenodd" clip-rule="evenodd" d="M15 19.5229C15 20.265 15.9624 20.5564 16.374 19.9389L22.2227 11.166C22.5549 10.6676 22.1976 10 21.5986 10H17V4.47708C17 3.73503 16.0376 3.44363 15.626 4.06106L9.77735 12.834C9.44507 13.3324 9.80237 14 10.4014 14H15V19.5229Z" fill="#035A4B"/>-->
<!--              <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M3 6.5C3 5.67157 3.67157 5 4.5 5H9.5C10.3284 5 11 5.67157 11 6.5C11 7.32843 10.3284 8 9.5 8H4.5C3.67157 8 3 7.32843 3 6.5ZM3 18.5C3 17.6716 3.67157 17 4.5 17H9.5C10.3284 17 11 17.6716 11 18.5C11 19.3284 10.3284 20 9.5 20H4.5C3.67157 20 3 19.3284 3 18.5ZM2.5 11C1.67157 11 1 11.6716 1 12.5C1 13.3284 1.67157 14 2.5 14H6.5C7.32843 14 8 13.3284 8 12.5C8 11.6716 7.32843 11 6.5 11H2.5Z" fill="#035A4B"/>-->
<!--              </svg>-->

<!--            </span>-->

<!--            <h3>Accelerate your business</h3>-->
<!--            <p>We help power millions of businesses to built and run smoothly.</p>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Blocks &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End Col &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; End Row &ndash;&gt;-->
<!--    </div>-->

<!--    &lt;!&ndash; Pricing &ndash;&gt;-->
<!--    <div id="pricingSection" class="container">-->
<!--      &lt;!&ndash; Heading &ndash;&gt;-->
<!--      <div class="w-lg-75 text-center mx-auto mb-5 mb-sm-9">-->
<!--        <h2 class="h1">Scalable plans</h2>-->
<!--        <p>All kinds of plans that scale with your user growth</p>-->
<!--      </div>-->
<!--      &lt;!&ndash; End Heading &ndash;&gt;-->

<!--      <div class="w-lg-75 mx-lg-auto">-->
<!--        <div class="row align-items-sm-end gx-3 mb-5 mb-md-7">-->
<!--          <div class="col-sm-6 col-md-4 mb-3 mb-md-0">-->
<!--            &lt;!&ndash; Card &ndash;&gt;-->
<!--            <div class="card card-bordered shadow-none" data-aos="fade-up" data-aos-delay="100">-->
<!--              <div class="card-header text-center pb-0">-->
<!--                <span class="svg-icon svg-icon-sm text-primary mb-3">-->
<!--                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path opacity="0.85" d="M15.9999 25.6C21.3018 25.6 25.5999 21.302 25.5999 16C25.5999 10.6981 21.3018 6.40002 15.9999 6.40002C10.698 6.40002 6.3999 10.6981 6.3999 16C6.3999 21.302 10.698 25.6 15.9999 25.6Z" fill="#377dff"/>-->
<!--                  </svg>-->

<!--                </span>-->

<!--                <h4 class="card-title">Starter</h4>-->
<!--                <h3 class="card-title">Free</h3>-->
<!--              </div>-->

<!--              <div class="card-body">-->
<!--                <ul class="list-checked list-checked-primary">-->
<!--                  <li class="list-checked-item">Community support</li>-->
<!--                  <li class="list-checked-item">400+ pages</li>-->
<!--                </ul>-->
<!--              </div>-->

<!--              <div class="card-footer pt-0">-->
<!--                <div class="d-grid">-->
<!--                  <button type="button" class="btn btn-primary btn-sm btn-transition">Create account</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Card &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; End Col &ndash;&gt;-->

<!--          <div class="col-sm-6 col-md-4 mb-3 mb-md-0">-->
<!--            &lt;!&ndash; Card &ndash;&gt;-->
<!--            <div class="card card-bordered shadow-none" data-aos="fade-up" data-aos-delay="50">-->
<!--              <div class="card-header text-center pb-0">-->
<!--                <span class="svg-icon text-primary mb-3">-->
<!--                  <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path opacity="0.85" d="M28 44.8C37.2783 44.8 44.7999 37.2784 44.7999 28C44.7999 18.7216 37.2783 11.2 28 11.2C18.7216 11.2 11.2 18.7216 11.2 28C11.2 37.2784 18.7216 44.8 28 44.8Z" fill="#377dff"/>-->
<!--                  </svg>-->

<!--                </span>-->

<!--                <h4 class="card-title">Individual</h4>-->
<!--                <h3 class="card-title">$59</h3>-->
<!--              </div>-->

<!--              <div class="card-body">-->
<!--                <ul class="list-checked list-checked-primary">-->
<!--                  <li class="list-checked-item">Community support</li>-->
<!--                  <li class="list-checked-item">400+ pages</li>-->
<!--                  <li class="list-checked-item">100+ header variations</li>-->
<!--                </ul>-->
<!--              </div>-->

<!--              <div class="card-footer pt-0">-->
<!--                <div class="d-grid">-->
<!--                  <button type="button" class="btn btn-primary btn-sm btn-transition">Try free for 14-days</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Card &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; End Col &ndash;&gt;-->

<!--          <div class="col-sm-6 col-md-4">-->
<!--            &lt;!&ndash; Card &ndash;&gt;-->
<!--            <div class="card card-bordered shadow-none" data-aos="fade-up">-->
<!--              <div class="card-header text-center pb-0">-->
<!--                <span class="svg-icon text-primary mb-3">-->
<!--                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <g clip-path="url(#clip0)">-->
<!--                  <path opacity="0.85" d="M9.6 20.2C14.9019 20.2 19.2 15.9019 19.2 10.6C19.2 5.29807 14.9019 1 9.6 1C4.29807 1 0 5.29807 0 10.6C0 15.9019 4.29807 20.2 9.6 20.2Z" fill="#377dff"/>-->
<!--                  <path opacity="0.85" d="M22.4 20.2C27.702 20.2 32 15.9019 32 10.6C32 5.29807 27.702 1 22.4 1C17.0981 1 12.8 5.29807 12.8 10.6C12.8 15.9019 17.0981 20.2 22.4 20.2Z" fill="#377dff"/>-->
<!--                  <path opacity="0.85" d="M16.2001 31C21.502 31 25.8001 26.7019 25.8001 21.4C25.8001 16.0981 21.502 11.8 16.2001 11.8C10.8982 11.8 6.6001 16.0981 6.6001 21.4C6.6001 26.7019 10.8982 31 16.2001 31Z" fill="#377dff"/>-->
<!--                  </g>-->
<!--                  <defs>-->
<!--                  <clipPath id="clip0">-->
<!--                  <rect width="32" height="32" fill="white"/>-->
<!--                  </clipPath>-->
<!--                  </defs>-->
<!--                  </svg>-->

<!--                </span>-->

<!--                <h4 class="card-title">Enterprise</h4>-->
<!--                <h3 class="card-title">$599</h3>-->
<!--              </div>-->

<!--              <div class="card-body">-->
<!--                <ul class="list-checked list-checked-primary">-->
<!--                  <li class="list-checked-item">Community support</li>-->
<!--                  <li class="list-checked-item">400+ pages</li>-->
<!--                  <li class="list-checked-item">100+ header variations</li>-->
<!--                  <li class="list-checked-item">20+ home page options</li>-->
<!--                </ul>-->
<!--              </div>-->

<!--              <div class="card-footer pt-0">-->
<!--                <div class="d-grid">-->
<!--                  <button type="button" class="btn btn-primary btn-sm btn-transition">Try free for 14-days</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Card &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; End Col &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; End Row &ndash;&gt;-->

<!--        &lt;!&ndash; Card Info &ndash;&gt;-->
<!--        <div class="text-center" data-aos="fade-up">-->
<!--          <div class="card card-info-link card-sm mb-5 mb-md-0">-->
<!--            <div class="card-body">-->
<!--              Need custom plan? <a class="card-link ms-2" href="#">Contact us <span class="bi-chevron-right small ms-1"></span></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Card Info &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Pricing &ndash;&gt;-->

<!--    &lt;!&ndash; Mockup Card &ndash;&gt;-->
<!--    <div class="container d-none d-md-block content-space-2 content-space-lg-3">-->
<!--      <div class="bg-light p-4 pb-md-0 pe-md-0 pt-md-10 ps-md-7">-->
<!--        <div class="position-relative overflow-hidden">-->
<!--          <div class="row justify-content-lg-between">-->
<!--            <div class="col-md-4 py-5 pb-md-10">-->
<!--              <div class="mb-5">-->
<!--                <h2>Front makes you look at things from a different perspectives</h2>-->
<!--              </div>-->

<!--              <a class="btn btn-outline-primary" href="page-login.html">Sign up today</a>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Col &ndash;&gt;-->

<!--            <div class="col-sm-6 col-lg-5">-->
<!--              &lt;!&ndash; Devices &ndash;&gt;-->
<!--              <div class="devices position-absolute top-0 start-50">-->
<!--                &lt;!&ndash; Browser Device &ndash;&gt;-->
<!--                <figure class="device-browser-frame rotated-3d-left">-->
<!--                  <div class="device-browser-frame">-->
<!--                    <img class="device-browser-img" src="/assets/img/1618x1010/img5.jpg" alt="Image Description">-->
<!--                  </div>-->
<!--                </figure>-->
<!--                &lt;!&ndash; End Browser Device &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; End Devices &ndash;&gt;-->

<!--              &lt;!&ndash; Devices &ndash;&gt;-->
<!--              <div class="devices position-absolute top-0 start-50 mt-10 ms-5">-->
<!--                &lt;!&ndash; Browser Device &ndash;&gt;-->
<!--                <figure class="device-browser-frame rotated-3d-left">-->
<!--                  <div class="device-browser-frame">-->
<!--                    <img class="device-browser-img" src="/assets/img/1618x1010/img4.jpg" alt="Image Description">-->
<!--                  </div>-->
<!--                </figure>-->
<!--                &lt;!&ndash; End Browser Device &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; End Devices &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; End Col &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash; End Row &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Mockup Card &ndash;&gt;-->


    <!-- Map -->
    <div id="contactsSection" class="bg-light position-relative rounded-2 mx-3 mx-md-8">
      <div class="container content-space-1 content-space-lg-3">
        <div class="row justify-content-md-end">
          <div class="col-md-6 col-lg-5">
            <!-- Card -->
            <div class="card card-lg position-relative zi-999">
              <div class="card-body">
                <!-- Heading -->
                <div class="mb-5">
                  <h4 class="card-title">诸暨,</h4>
                  <h2 class="card-title h1">浙江</h2>
                </div>
                <!-- End Heading -->

                <!-- Media -->
                <div class="d-flex mb-5">
                  <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary me-3">
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.3" d="M16 0.200012H4C1.8 0.200012 0 2.00001 0 4.20001V16.2C0 18.4 1.8 20.2 4 20.2H16C18.2 20.2 20 18.4 20 16.2V4.20001C20 2.00001 18.2 0.200012 16 0.200012ZM15 10.2C15 10.9 14.8 11.6 14.6 12.2H18V16.2C18 17.3 17.1 18.2 16 18.2H12V14.8C11.4 15.1 10.7 15.2 10 15.2C9.3 15.2 8.6 15 8 14.8V18.2H4C2.9 18.2 2 17.3 2 16.2V12.2H5.4C5.1 11.6 5 10.9 5 10.2C5 9.50001 5.2 8.80001 5.4 8.20001H2V4.20001C2 3.10001 2.9 2.20001 4 2.20001H8V5.60001C8.6 5.30001 9.3 5.20001 10 5.20001C10.7 5.20001 11.4 5.40001 12 5.60001V2.20001H16C17.1 2.20001 18 3.10001 18 4.20001V8.20001H14.6C14.8 8.80001 15 9.50001 15 10.2Z" fill="#035A4B"/>
                      <path d="M12 1.40002C15.4 2.20002 18 4.80003 18.8 8.20003H14.6C14.1 7.00003 13.2 6.10003 12 5.60003V1.40002V1.40002ZM5.40001 8.20003C5.90001 7.00003 6.80001 6.10003 8.00001 5.60003V1.40002C4.60001 2.20002 2.00001 4.80003 1.20001 8.20003H5.40001ZM14.6 12.2C14.1 13.4 13.2 14.3 12 14.8V19C15.4 18.2 18 15.6 18.8 12.2H14.6V12.2ZM8.00001 14.8C6.80001 14.3 5.90001 13.4 5.40001 12.2H1.20001C2.00001 15.6 4.60001 18.2 8.00001 19V14.8V14.8Z" fill="#035A4B"/>
                      </svg>

                    </span>
                  </div>

                  <div class="flex-grow-1">
                    <h5 class="mb-1">联系我们</h5>
                    <span class="d-block small"> 18966091208(徐先生)</span>
                  </div>
                </div>
                <!-- End Media -->

                <!-- Media -->
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <span class="svg-icon svg-icon-sm text-primary me-3">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="#035A4B"/>
                      <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="#035A4B"/>
                      </svg>

                    </span>
                  </div>

                  <div class="flex-grow-1">
                    <h5 class="mb-1">我们的地址</h5>
                    <span class="d-block small">浙江省诸暨市浦阳路18号科技局创新创业六楼601</span>
                  </div>
                </div>
                <!-- End Media -->
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>

      <!-- Gmap -->
      <div class="mt-1 mb-2 position-md-absolute top-0 start-0 bottom-0 end-0">
        <div id="map" class="leaflet"
             data-hs-leaflet-options='{
               "map": {
                 "scrollWheelZoom": true,
                 "coords": [29.748376637513786, 120.24110013704507]
               },
               "marker": [
                 {
                   "coords": [29.748376637513786, 120.24110013704507],
                   "icon": {
                     "iconUrl": "https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon-2x.png",
                     "iconSize": [50, 82]
                   },
                   "popup": {
                     "text": "浙江省诸暨市浦阳路18号科技局创新创业六楼601",
                     "title": "Address"
                   }
                 }
               ]
              }'></div>
      </div>
      <!-- End Gmap -->
    </div>
    <!-- End Map -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <!-- ========== END FOOTER ========== -->

  <!-- Go To -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'>
    <i class="bi-chevron-up"></i>
  </a>
  <!-- ========== END SECONDARY CONTENTS ========== -->
  {% include "footer.html" %}



  <!-- JS Plugins Init. -->
  <script>
    (function() {

      // INITIALIZATION OF LEAFLET
      // =======================================================
      const leaflet = HSCore.components.HSLeaflet.init(document.getElementById('map'))

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        id: 'mapbox/light-v9'
      }).addTo(leaflet)
    })()
  </script>


</body>
</html>
