  <!-- ========== FOOTER ========== -->
  <footer class="bg-dark">
    <div class="container pb-1 pb-lg-5">
      <div class="row content-space-t-2">
        <div class="col-lg-4 mb-7 mb-lg-0">
          <!-- Logo -->
          <div class="mb-5">
            <a class="navbar-brand" href="index.html" aria-label="Space">
              <img class="navbar-brand-logo" src="/assets/img/yuneshowlogo_20220328.PNG" alt="Image Description">
            </a>
          </div>
          <ul class="list-unstyled list-py-1">
            <li><a class="link-sm link-light" href="https://surl.amap.com/1PVBdIiadds"><i class="bi-geo-alt-fill me-1"></i>浙江省诸暨市浦阳路18号科技局创新创业六楼601</a></li>
            <li><a class="link-sm link-light" href="tel:13606561208"><i class="bi-telephone-inbound-fill me-1"></i> 18966091208(徐先生)</a></li>
          </ul>
        </div>
        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">产品</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">绣花机</a></li>
            <li><a class="link-sm link-light" href="#">绣花辅料 <span class="badge bg-warning text-dark rounded-pill ms-1">We're hiring</span></a></li>
            <li><a class="link-sm link-light" href="#">绣线</a></li>
          </ul>
        </div>
        <div class="col-sm mb-7 mb-sm-0">
          <h5 class="text-white mb-3">友情链接</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="https://www.baidu.com">百度 <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
            <li><a class="link-sm link-light" href="https://www.yuneshow.cn">易绣科技<i class="bi-box-arrow-up-right small ms-1"></i></a></li>
            <li><a class="link-sm link-light" href="#">诸暨刺绣协会</a></li>
            <li><a class="link-sm link-light" href="#">宁波市政府</a></li>
            <li><a class="link-sm link-light" href="https://www.ricoma.com.cn/">瑞珂玛</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h5 class="text-white mb-3">客户中心</h5>
          <ul class="list-unstyled list-py-1 mb-0">
            <li><a class="link-sm link-light" href="#">技术支持</a></li>
            <li><a class="link-sm link-light" href="#">帮助文档</a></li>
            <li><a class="link-sm link-light" href="#">培训服务</a></li>
            <li><a class="link-sm link-light" href="#">培训资料</a></li>
            <li><a class="link-sm link-light" href="#">开放平台</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h5 class="text-white mb-3">关于我们</h5>
          <ul class="list-unstyled list-py-1 mb-5">
            <li><a class="link-sm link-light" href="#">荣誉资质</a></li>
            <li><a class="link-sm link-light" href="#">公司简介</a></li>
            <li><a class="link-sm link-light" href="#">联系我们</a></li>
          </ul>
        </div>
      </div>
      <div class="border-top border-white-10 my-7"></div>

      <div class="row mb-7">
        <div class="col-sm mb-3 mb-sm-0">
          <!-- Socials -->
          <ul class="list-inline list-separator list-separator-light mb-0">
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">隐私 &amp; 政策</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">条款</a>
            </li>
            <li class="list-inline-item">
              <a class="link-sm link-light" href="#">网站地图</a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>

        <div class="col-sm-auto">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-google"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>
      </div>

      <!-- Copyright -->
      <div class="w-md-85 text-lg-center mx-lg-auto">
        <p class="text-white-50 small">&copy; 云易绣. 2022 诸暨易绣科技. All rights reserved.</p>
        <p class="text-white-50 small">当您访问我们的网站、服务或工具或与之互动时，我们或我们授权的服务提供商可能会使用cookie存储信息，以帮助为您提供更好、更快和更安全的体验，并用于营销目的。</p>
      </div>
      <!-- End Copyright -->
    </div>

    <!-- 联系我们 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">联系方式</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Nav -->
            <div class="text-center">
              <ul class="nav nav-segment nav-pills mb-7" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="nav-one-eg1-tab" href="#nav-one-eg1" data-bs-toggle="pill" data-bs-target="#nav-one-eg1" role="tab" aria-controls="nav-one-eg1" aria-selected="true">手机号</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-two-eg1-tab" href="#nav-two-eg1" data-bs-toggle="pill" data-bs-target="#nav-two-eg1" role="tab" aria-controls="nav-two-eg1" aria-selected="false">微信</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-three-eg1-tab" href="#nav-three-eg1" data-bs-toggle="pill" data-bs-target="#nav-three-eg1" role="tab" aria-controls="nav-three-eg1" aria-selected="false">易绣公众号</a>
                </li>
              </ul>
            </div>
            <!-- End Nav -->

            <!-- Tab Content -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-one-eg1" role="tabpanel" aria-labelledby="nav-one-eg1-tab">
                <ul class="list-unstyled ">
                  <li  style="text-align: center"><a class="link-sm" href="tel:18966091208"><i class="bi-telephone-inbound-fill me-1"></i> 18966091208 徐先生(点击拨打)</a></li>
                  <li style="text-align: center;margin-top:6px"><a  class="link-sm" href="tel:18257539757"><i class="bi-telephone-inbound-fill me-1"></i> 18257539757 徐先生(点击拨打)</a></li>
                </ul>
              </div>

              <div class="tab-pane fade" id="nav-two-eg1" role="tabpanel" aria-labelledby="nav-two-eg1-tab">
                <p style="text-align: center">CISMA955</p>
              </div>

              <div class="tab-pane fade" id="nav-three-eg1" role="tabpanel" aria-labelledby="nav-three-eg1-tab">
                <p style="text-align: center"><img src="/static/qrcode_for_gh_d26b6820c648_258.jpg" alt=""></p>
              </div>
            </div>
            <!-- End Tab Content -->
          </div>
          <!--        <div class="modal-footer">-->
          <!--          <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>-->
          <!--          <button type="button" class="btn btn-primary">Save changes</button>-->
          <!--        </div>-->
        </div>
      </div>
    </div>
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/vendor/aos/dist/aos.js"></script>

    <!-- JS Front -->
    <script src="/assets/js/theme.min.js"></script>
    <!-- JS Plugins Init. -->
    <script>
      (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader('#header').init()


        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })

        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation('.js-animation-link')

        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
          onSubmit: data => {
            data.event.preventDefault()
            alert('Submited')
          }
        })

        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init()

        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')


        // INITIALIZATION OF AOS
        // =======================================================
        AOS.init({
          duration: 650,
          once: true
        });

        // INITIALIZATION OF TEXT ANIMATION (TYPING)
        // =======================================================
        HSCore.components.HSTyped.init('.js-typedjs')

        // INITIALIZATION OF SWIPER
        // =======================================================
        var sliderThumbs = new Swiper('.js-swiper-thumbs', {
          watchSlidesVisibility: true,
          watchSlidesProgress: true,
          history: false,
          breakpoints: {
            480: {
              slidesPerView: 2,
              spaceBetween: 15,
            },
            768: {
              slidesPerView: 3,
              spaceBetween: 15,
            },
            1024: {
              slidesPerView: 3,
              spaceBetween: 15,
            },
          },
          on: {
            'afterInit': function (swiper) {
              swiper.el.querySelectorAll('.js-swiper-pagination-progress-body-helper')
                      .forEach($progress => $progress.style.transitionDuration = `${swiper.params.autoplay.delay}ms`)
            }
          }
        });
        var sliderMain = new Swiper('.js-swiper-main', {
          effect: 'fade',
          autoplay: true,
          loop: true,
          thumbs: {
            swiper: sliderThumbs
          }
        })
        new HSVideoPlayer('.js-inline-video-player')
      })()
    </script>
    <script type='text/javascript'>
      (function(a, b, c, d, e, j, s) {
        a[d] = a[d] || function() {
          (a[d].a = a[d].a || []).push(arguments)
        };
        j = b.createElement(c),
                s = b.getElementsByTagName(c)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/widget/loader.js';
        s.parentNode.insertBefore(j, s);
      })(window, document, 'script', '_MEIQIA');
      _MEIQIA('entId', 'e2b1f8fc18f2a1dffd76e4877757cc76');
    </script>
  </footer>
