<footer>
  <div class="footer_Box Widauto">
    <ul class="footer_Lists clearfix">
      <li>
        <div class="footer_Toptitle">关于云易绣</div>
        <div class="Toptitle_list">
          <a href="/Home/Index/about#b-brief">公司简介</a>
          <a href="/Home/Index/about#b-contact">联系我们</a>
        </div>
      </li>
      <!--<li>
               <div class="footer_Toptitle">公众号阅读量</div>
               <div class="Toptitle_list">
                   <a href="/Home/Media/upfans#wifi">WIFI吸引流量</a>
                   <a href="/Home/Media/upfans#artical">文案阅读量</a>
                   <a href="/Home/Media/upfans#paster">贴片阅读量</a>
               </div>
            </li>-->
      <li>
        <div class="footer_Toptitle">微信推广</div>
        <div class="Toptitle_list">
          <a href="/Home/User/register" rel="nofollow">广告主入驻</a>
          <a href="/Home/Media/index#Pro_wrapper">推广流程</a>
          <a href="/Home/Media/index#Case_wrapper">推广案例</a>
        </div>
      </li>
      <li>
        <div class="footer_Toptitle">媒体接单</div>
        <div class="Toptitle_list">
          <a href="/Home/User/register/choose/media" rel="nofollow">公众号入驻</a>
          <a href="/Home/Media/xiang#Pro_wrapper">接单流程</a>
          <a href="/Home/Media/xiang#Case_wrapper">接单案例</a>
        </div>
      </li>
      <li>
        <div class="footer_Toptitle">广告形式</div>
        <div class="Toptitle_list">
          <a href="/Home/Media/index#w_form_wrapper">图文广告</a>
          <a href="/Home/Media/index#w_form_wrapper">贴片广告</a>
          <a href="/Home/Media/index#w_form_wrapper">选号直投</a>
        </div>
      </li>
      <li>
        <div class="footer_Toptitle">短视频</div>
        <div class="Toptitle_list">
          <a href="/Home/Media/shotMedia#publicModel">推广模式</a>
          <a href="/Home/Media/shotMedia#publicType">推广方式类型</a>
          <a href="/Home/Media/shotMedia#publicCase">推广案例</a>
        </div>
      </li>
      <li style="margin-right:0;">
        <div class="footer_Toptitle">帮助中心</div>
        <div class="Toptitle_list">
          <a href="/Home/Media/help">常见问题</a>
          <a href="/Home/Media/help/open/rule">用户协议</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix Widauto" style="padding-bottom:40px;">
    <div class="fLeft" style=" margin-top:15px;">
      <!-- <img style="width:140px; display:none;opacity:0.65;" src="/images/logo_white.png" alt="千盟传媒logo"> -->
      <div class="footer_link clearfix">
        <div>友情链接：</div>
        <a target="_blank" href="https://mp.weixin.qq.com/">微信公众平台</a>
        <a target="_blank" href="https://wx.qq.com/">微信网页版</a>
        <a target="_blank" href="http://weixin.sogou.com/">搜狗微信</a>
        <a target="_blank" href="https://baijia.baidu.com/">百度百家</a>
        <a target="_blank" href="https://om.qq.com/userAuth/index">企鹅号</a>
        <a target="_blank" href="http://www.zhangbo.com/">张博</a>
        <a target="_blank" href="http://www.xmyeditor.com">微信编辑器</a>
        <a target="_blank" href="http://www.shikexiu.com">试客秀</a>
      </div>
      <div style="color:#474856;text-align:center;margin-top: 10px;">Copyright © <span class="current_year_time"></span>
        易绣科技 版权所有&nbsp;&nbsp;&nbsp;
        <span onclick="record_no()" id="record_number"></span>
      </div>
      <div style="  float: right; margin:-40px 5px;">
        <div style="width:300px;margin:0 auto; padding:20px 0;">
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502005280" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          </a>
        </div>
      </div>
    </div>
    <div class="Follow fRight">
      <img class="Follow-erweima" src="/static/qrcode_for_gh_d26b6820c648_258.jpg" alt="">
      <div>刺绣定制解决方案 关注易绣科技</div>
    </div>
  </div>
</footer>
</body>

</html>
