<header id="header"
class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide navbar-shadow"
data-hs-header-options='{
        "fixMoment": 1000,
        "fixEffect": "slide"
      }'>
<!-- Topbar -->
<!-- End Topbar -->

<div class="container">
  <nav class="js-mega-menu navbar-nav-wrap">
    <!-- Default Logo -->
    <a class="navbar-brand text-black" href="/index.html" aria-label="Front">
      <!-- <img id="navbar-logo" class=" d-inline-block align-center"
        src="http://admin.e-sewing.vip/static/img/logo.8034bb97.png" alt="Logo"> -->
      云易绣
    </a>
    <!-- End Default Logo -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-default">
        <i class="bi-list"></i>
      </span>
      <span class="navbar-toggler-toggled">
        <i class="bi-x"></i>
      </span>
    </button>
    <!-- End Toggler -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-absolute-top-scroller">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  active" href="/index.html">首页</a>
            </li>
          <!-- Landings -->
          <li class="hs-has-mega-menu nav-item">
            <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle"
              aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">解决方案</a>

            <!-- Mega Menu -->
            <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="landingsMegaMenu"
              style="min-width: 30rem;">
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block">
                  <!-- Banner Image -->
                  <div class="navbar-dropdown-menu-banner"
                    style="background-image: url(assets/svg/components/shape-3.svg);">
                    <div class="navbar-dropdown-menu-banner-content">
                      <div class="mb-4">
                        <span class="h2 d-block">手机扫码刺绣解决方案</span>
                        <p>基于刺绣行业多年技术沉淀 &amp; 稳定、高效.</p>
                      </div>
                      <a class="btn btn-primary btn-transition" href="/fangan/yessass.html">了解更多 <i
                          class="bi-chevron-right small"></i></a>
                    </div>
                  </div>
                  <!-- End Banner Image -->
                </div>
                <!-- End Col -->

                <div class="col-lg-6">
                  <div class="navbar-dropdown-menu-inner">
                    <div class="row">
                      <div class="col-sm mb-3 mb-sm-0">
                        <span class="dropdown-header">test module</span>
                        <a class="dropdown-item active" href="landing-classic-corporate.html">test</a>
                        <a class="dropdown-item " href="landing-classic-analytics.html">test <span
                            class="badge bg-primary rounded-pill ms-1">test</span></a>
                        <a class="dropdown-item " href="landing-classic-studio.html">test</a>
                        <a class="dropdown-item " href="landing-classic-marketing.html">tset</a>
                        <a class="dropdown-item " href="landing-classic-advertisement.html">test</a>
                        <a class="dropdown-item " href="landing-classic-consulting.html">Consulting</a>
                        <a class="dropdown-item " href="landing-classic-portfolio.html">Portfolio</a>
                        <a class="dropdown-item " href="landing-classic-software.html">Software</a>
                        <a class="dropdown-item " href="landing-classic-business.html">Business</a>
                      </div>
                      <!-- End Col -->

                      <div class="col-sm">
                        <div class="mb-3">
                          <!-- <span class="dropdown-header">App</span>
                          <a class="dropdown-item " href="landing-app-ui-kit.html">UI Kit</a>
                          <a class="dropdown-item " href="landing-app-saas.html">SaaS</a>
                          <a class="dropdown-item " href="landing-app-workflow.html">Workflow</a>
                          <a class="dropdown-item " href="landing-app-payment.html">Payment</a>
                          <a class="dropdown-item " href="landing-app-tool.html">Tool</a> -->
                        </div>

                        <span class="dropdown-header">Onepage</span>
                        <!-- <a class="dropdown-item " href="landing-onepage-corporate.html">Corporate</a>
                        <a class="dropdown-item " href="landing-onepage-saas.html">SaaS <span
                            class="badge bg-primary rounded-pill ms-1">Hot</span></a> -->
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->
                  </div>
                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Landings -->

          <!-- Company -->
<!--          <li class="hs-has-sub-menu nav-item">-->
<!--            <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button"-->
<!--              data-bs-toggle="dropdown" aria-expanded="false">解决方案</a>-->

<!--            &lt;!&ndash; Mega Menu &ndash;&gt;-->
<!--            <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">-->
<!--              <a class="dropdown-item " href="page-about.html">About</a>-->
<!--              <a class="dropdown-item " href="page-services.html">Services</a>-->
<!--              <a class="dropdown-item " href="page-customer-stories.html">Customer Stories</a>-->
<!--              <a class="dropdown-item " href="page-customer-story.html">Customer Story</a>-->
<!--              <a class="dropdown-item " href="page-careers.html">Careers</a>-->
<!--              <a class="dropdown-item " href="page-careers-overview.html">Careers Overview</a>-->
<!--              <a class="dropdown-item " href="page-hire-us.html">Hire Us</a>-->
<!--              <a class="dropdown-item " href="page-pricing.html">Pricing</a>-->
<!--              <a class="dropdown-item " href="page-contacts-agency.html">Contacts: Agency</a>-->
<!--              <a class="dropdown-item " href="page-contacts-startup.html">Contacts: Startup</a>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Mega Menu &ndash;&gt;-->
<!--          </li>-->
          <!-- End Company -->

          <!-- Account -->
<!--          <li class="hs-has-sub-menu nav-item">-->
<!--            <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button"-->
<!--              data-bs-toggle="dropdown" aria-expanded="false">产品介绍</a>-->

<!--            &lt;!&ndash; Mega Menu &ndash;&gt;-->
<!--            <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">-->
<!--              &lt;!&ndash; Authentication &ndash;&gt;-->
<!--              <div class="hs-has-sub-menu nav-item">-->
<!--                <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle " href="#"-->
<!--                  role="button" data-bs-toggle="dropdown" aria-expanded="false">Authentication</a>-->

<!--                <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu"-->
<!--                  style="min-width: 14rem;">-->
<!--                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Signup-->
<!--                    Modal</a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item " href="page-login.html">Login</a>-->
<!--                  <a class="dropdown-item " href="page-signup.html">Signup</a>-->
<!--                  <a class="dropdown-item " href="page-reset-password.html">Reset Password</a>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item " href="page-login-simple.html">Login Simple</a>-->
<!--                  <a class="dropdown-item " href="page-signup-simple.html">Signup Simple</a>-->
<!--                  <a class="dropdown-item " href="page-reset-password-simple.html">Reset Password Simple</a>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Authentication &ndash;&gt;-->

<!--              <a class="dropdown-item " href="account-overview.html">Personal Info</a>-->
<!--              <a class="dropdown-item " href="account-security.html">Security</a>-->
<!--              <a class="dropdown-item " href="account-notifications.html">Notifications</a>-->
<!--              <a class="dropdown-item " href="account-preferences.html">Preferences</a>-->
<!--              <a class="dropdown-item " href="account-orders.html">Orders</a>-->
<!--              <a class="dropdown-item " href="account-wishlist.html">Wishlist</a>-->
<!--              <a class="dropdown-item " href="account-payments.html">Payments</a>-->
<!--              <a class="dropdown-item " href="account-address.html">Address</a>-->
<!--              <a class="dropdown-item " href="account-teams.html">Teams</a>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Mega Menu &ndash;&gt;-->
<!--          </li>-->
          <!-- End Account -->

          <!-- Pages -->
<!--          <li class="hs-has-sub-menu nav-item">-->
<!--            <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button"-->
<!--              data-bs-toggle="dropdown" aria-expanded="false">帮助中心</a>-->

<!--            &lt;!&ndash; Mega Menu &ndash;&gt;-->
<!--            <div class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu" style="min-width: 14rem;">-->
<!--              <a class="dropdown-item " href="page-faq.html">FAQ</a>-->
<!--              <a class="dropdown-item " href="page-terms.html">Terms &amp; Conditions</a>-->
<!--              <a class="dropdown-item " href="page-privacy.html">Privacy &amp; Policy</a>-->
<!--              <a class="dropdown-item " href="page-coming-soon.html">Coming Soon</a>-->
<!--              <a class="dropdown-item " href="page-maintenance-mode.html">Maintenance Mode</a>-->
<!--              <a class="dropdown-item " href="page-status.html">Status</a>-->
<!--              <a class="dropdown-item " href="page-invoice.html">Invoice</a>-->
<!--              <a class="dropdown-item " href="page-error-404.html">Error 404</a>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Mega Menu &ndash;&gt;-->
<!--          </li>-->
          <!-- End Pages -->

          <!-- Blog -->
          <!-- <li class="hs-has-sub-menu nav-item">
            <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">新闻资讯</a>

            <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 14rem;">
              <a class="dropdown-item " href="blog-journal.html">Journal</a>
              <a class="dropdown-item " href="blog-metro.html">Metro</a>
              <a class="dropdown-item " href="blog-newsroom.html">Newsroom</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " href="blog-article.html">Article</a>
              <a class="dropdown-item " href="blog-author-profile.html">Author Profile</a>
            </div>
          </li> -->
          <!-- End Blog -->
          <li class="nav-item">
            <a class="nav-link" href="/product.html">产品介绍</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help.html">帮助中心</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news.html">新闻资讯</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html">关于我们</a>
        </li>

          <!-- Button -->
          <li class="nav-item">
            <a class="btn btn-primary btn-transition"
              href="http://admin.e-sewing.vip/"
              target="_blank">登陆系统</a>
          </li>
          <!-- End Button -->
        </ul>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</div>
</header>
