<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1200">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>{{current_article.title}}-{{options.title}}</title>
  <meta name="keywords" content="{{current_article.seo_keywords}}" />
  <meta name="description" content="{{current_article.seo_desc}}" />
  <link rel="shortcut icon" href="https://test.qmycm.com/images/media/favicon.png" />
  <link rel="stylesheet" type="text/css" href="https://test.qmycm.com/homecss/Reset.css">
  <!-- <link rel="stylesheet" type="text/css" href="https://test.qmycm.com/homecss/Index.css"> -->
  <link rel="stylesheet" type="text/css" href="https://test.qmycm.com/css/ShareStyle.css">
  <link href="https://test.qmycm.com/homecss/jquery.bxslider.css?v=20190528" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="https://test.qmycm.com/NewCss/home/newHome.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://test.qmycm.com/iconFont/iconfont.css"> -->
  <link rel="stylesheet" href="https://test.qmycm.com/NewCss/animate.css-master/animate.min.css?v=20200327">
  <link rel="stylesheet" type="text/css" href="/tstatic/css/news_index.css">
  <!-- 矢量图库地址 -->
  <link rel="stylesheet" href="https://test.qmycm.com/css/IconFont.css" />
  <script type="text/javascript" src="https://test.qmycm.com/homejs/Jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="https://test.qmycm.com/homejs/Alljquery.js"></script>
  <script type="text/javascript" src="https://test.qmycm.com/homejs/Highcharts (2).js"></script>
  <script language="javascript" src="https://test.qmycm.com/js/newjs.js"></script>
  <script type="text/javascript" src="https://test.qmycm.com/homejs/jquery.bxslider.js"></script>
  <script type="text/javascript" src="https://test.qmycm.com/homejs/index.js"></script>
  <script language="javascript" src="https://test.qmycm.com/js/common.js"></script>
  <!--
    <script type="text/javascript">var pvs={}; var pvm={}; </script>
<script>
    pvs[{$ms.0.id}]={$data1|array_to_number|json_encode};
    pvs[{$ms.1.id}]={$data2|array_to_number|json_encode};
    pvm[{$ms.0.id}]={$data1|array_to_number|max};
    pvm[{$ms.1.id}]={$data2|array_to_number|max};
</script>
-->
  <!-- 备注 -->
</head>

<body>

  <div id="NewHome_Main">
    <div class="body_all">
      <div class="frame_right">
        <div class="contact bg-01">
          <!-- <php>
                    $xiao_qqs=D('user')->where(['role_id'=>8,'online'=>1])->getField('qq',true);
                    $max=count($xiao_qqs)-1;
                    $position=rand(0,$max);
                    $xiao_qq=$xiao_qqs[$position];
                </php>
                <a class="oveHidden" onclick="Adv_Consult({$xiao_qq})"> -->
          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2467117047&amp;site=qq&amp;menu=yes" target="_blank">
            <img width="40px" height="40px" src="https://test.qmycm.com/home_images/QQ_Icon.png?v=20190528" alt="">
            <span class="contact-content">广告主咨询</span>
          </a>
        </div>
      </div>
      <div class="frame_right">
        <div class="contact bg-02">
          <!-- <php>
                    $mei_qqs=D('user')->where(['role_id'=>9,'online'=>1])->getField('qq',true);
                    $max1=count($mei_qqs)-1;
                    $position1=rand(0,$max1);
                    $mei_qq=$mei_qqs[$position1];
                </php>
                <a class="oveHidden" onclick="Media_Consult({$mei_qq})"> -->
          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=959296310&amp;site=qq&amp;menu=yes" target="_blank">
            <img width="40px" height="40px" src="https://test.qmycm.com/home_images/QQ_Icon.png?v=20190528" alt="">
            <span class="contact-content">媒体主咨询</span>
          </a>
        </div>
      </div>
      <div class="frame_right">
        <div class="contact bg-03"><a class="oveHidden"><img width="40px" height="40px" class="fLeft" src="https://test.qmycm.com/home_images/Tel_Icon.png?v=20190528" alt="">
            <span class="contact-content">13346157195</span></a></div>
      </div>
      <div class="frame_right ercodeShow">
        <div class="contact bg-04 "><a><span class="contact-content" style="padding-left:0;">
              <img width="40px" height="40px" src="https://test.qmycm.com/home_images/wechat_Icon.png?v=20120528" alt=""></span></a>
          <div class="erCodeBox"><img src="https://test.qmycm.com/home_images/QR_code.jpg" alt=""></div>
        </div>
      </div>
      <div class="frame_right">
        <div class="contact bg-04">
          <a href="javascript:goTop();">
            <span class="contact-content" style="padding-left:0;">
              <img width="40px" height="40px" src="https://test.qmycm.com/home_images/Return_Icon.png?v=20190528" alt="">
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--导航-->
    <header class="NavHeader oveHidden">
      <div class="Widauto boxPadding oveHidden g-flex g-align-items-center g-header-height">
        <div class="Logo_main oveHidden fLeft"><a class="Logo BgImg_bai fLeft" href="/"></a><span class="fLeft"></span>
        </div>
        <ul class="new_menu menu_label">
          <li><a href="/">首页</a></li>
          <li><a href="/Home/Media/shotMedia">花样展示</a></li>
          <li><a href="/Home/Media/index">解决方案</a></li>
          <!--<li><a href="/Home/Media/upfans">公众号阅读量</a></li>-->
          <li><a href="/Home/Media/xiang">产品</a></li>
          <li><a href="/news">新闻动态</a></li>
          <li><a href="/Home/Enlist/index">招商加盟</a></li>
          <li><a href="/Home/Media/help">帮助中心</a></li>
        </ul>
        <div class="login_main fr oveHidden">
          <!-- <?php
                $aid = session("aid");
                $mid = session('mid');
                if (!empty($aid)) {
                    $login = M("advertising")->where('id = '.$aid)->getField('phone');
                    $href = "/ad.html";

                  } else if (!empty($mid)) {
                    $login = M('media')->where('id = '.$mid)->getField('phone');
                    $href = "/Media.html";
                  } else {
                    $login = '登录';
                    $href = "/ad.html";
                  }
            ?> -->
          <if condition="$login eq 登录">
            <div class="login_register_new" id="login_register">
              <!-- <a href={$href} rel="nofollow">{$login}</a>
              <a href="/Home/User/register.html" rel="nofollow">注册</a> -->
              <a href="" rel="nofollow">登录</a>
              <a href="/Home/User/register.html" rel="nofollow">注册</a>
            </div>
            <!-- <else /> -->
            <!-- <a class="login_user login_number fLeft" href={$href} rel="nofollow"><i class="Personal"></i>{$login}</a> -->
          </if>
        </div>
      </div>
    </header>
    <div class="BannerNews"></div>
    <div class="news_option news_option_detaile">
      <div class="news_option_detaile—warpeer">
        <div class="news_option-left">
          <p>
            <a href="/">首页</a><span>></span>
            <a href="/news">新闻动态</a><span>></span>
            <a href="javascript:0;">{{current_cate.category_name}}</a>
          </p>
        </div>
        <div class="news_option-right">
          {% for item in category %}
          {% if item.category_id==current_cate.category_id %}
          <a class="industry" href="{{item.url}}">{{item.category_name}}</a>
          {% else %}
          <a href="{{item.url}}">{{item.category_name}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="feed_wrapper">
      <div class="content_left">
        <h2 class="activity-name">{{current_article.title}}</h2>
        <div class="meta_content">
          <span>时间：{{current_article.created_at}} </span>
          <span class="author">作者：{{current_article.author}}</span>
        </div>
        <div data-content="{{current_article.content}}" id="details_content"></div>
        <ul class="internet_options">
          <li>
            <span>上一篇：</span>
            {% if prev_article.title %}
            <a href="{{prev_article .full_path}}">
              {{prev_article.title}}
            </a>
            {% else %}
            没有了
            {% endif %}
          </li>

          <li>
            <span>下一篇：</span>
            {% if next_article.title  %}
            <a href="{{next_article .full_path}}">
              {{next_article.title}}
            </a>
            {% else %}
            没有了
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="content_right">
        <ul class="content_right-choose">
          <li class="right_active">
            最新
          </li>
          <li>
            最热
          </li>
        </ul>
        <div class="contact_us-scancode-img">
          <!-- 最热 -->
          <ul class="new-pmd-list new-pmd-list_active">
            {% for item in newest_list %}
            <li>
              <span>
                {% if 10>loop.index %}
                0{{loop.index}}
                {% else %}
                {{loop.index}}
                {% endif %}
              </span>
              <p><a href="{{item.full_path}}">{{item.title}}</a></p>
            </li>
            {% endfor %}
          </ul>
          <!-- 最新 -->
          <ul class="new-pmd-list ">
            {% for item in hot_list %}
            <li>
              <span>0{{loop.index}}</span>
              <p><a href="{{item.full_path}}">{{item.title}}</a></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script type="text/javascript">
      function tabs(tabTit, on, tabCon) {
        $(tabCon).each(function() {
          $(this).children().eq(0).show();

        });
        $(tabTit).each(function() {
          $(this).children().eq(0).addClass(on);
        });
        $(tabTit).children().click(function() {
          $(this).addClass(on).siblings().removeClass(on);
          var index = $(tabTit).children().index(this);
          $(tabCon).children().eq(index).show().siblings().hide();
        });
      }
      tabs(".content_right-choose", "right_active", ".contact_us-scancode-img");
      let content = $("#details_content").data('content');
      $("#details_content").html(content)

    </script>
</body>

</html>
