<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>{{current_article.title}}-{{options.title}}</title>
  <meta name="keywords" content="{{current_article.seo_keywords}}" />
  <meta name="description" content="{{current_article.seo_desc}}" />
  <link rel="shortcut icon" href="http://admin.e-sewing.vip/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="http://test.qmycm.com/homecss/Reset.css">
  <!-- <link rel="stylesheet" type="text/css" href="http://test.qmycm.com/homecss/Index.css"> -->
  <link rel="stylesheet" type="text/css" href="http://test.qmycm.com/css/ShareStyle.css">
  <link href="http://test.qmycm.com/homecss/jquery.bxslider.css?v=20190528" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="http://test.qmycm.com/NewCss/home/newHome.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="http://test.qmycm.com/iconFont/iconfont.css"> -->
  <link rel="stylesheet" href="http://test.qmycm.com/NewCss/animate.css-master/animate.min.css?v=20200327">
  <link rel="stylesheet" type="text/css" href="/tstatic/css/news_index.css">
  <!-- 矢量图库地址 -->
  <link rel="stylesheet" href="http://test.qmycm.com/css/IconFont.css" />
  <script type="text/javascript" src="http://test.qmycm.com/homejs/Jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://test.qmycm.com/homejs/Alljquery.js"></script>
  <script type="text/javascript" src="http://test.qmycm.com/homejs/Highcharts (2).js"></script>
  <script language="javascript" src="http://test.qmycm.com/js/newjs.js"></script>
  <script type="text/javascript" src="http://test.qmycm.com/homejs/jquery.bxslider.js"></script>
  <script type="text/javascript" src="http://test.qmycm.com/homejs/index.js"></script>
  <script language="javascript" src="http://test.qmycm.com/js/common.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/vendor.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/aos/dist/aos.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/theme.minc619.css?v=1.0">
</head>
<body>
{% include "header.html" %}
<div id="NewHome_Main">
    <div class="BannerNews"></div>
    <div class="news_option news_option_detaile">
      <div class="news_option_detaile—warpeer">
        <div class="news_option-left">
          <p>
            <a href="/">首页</a><span>></span>
            <a href="/news">新闻动态</a><span>></span>
            <a href="javascript:0;">{{current_cate.category_name}}</a>
          </p>
        </div>
        <div class="news_option-right">
          {% for item in category %}
          {% if item.category_id==current_cate.category_id %}
          <a class="industry" href="{{item.url}}">{{item.category_name}}</a>
          {% else %}
          <a href="{{item.url}}">{{item.category_name}}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="feed_wrapper">
      <div class="content_left">
        <h2 class="activity-name">{{current_article.title}}</h2>
        <div class="meta_content">
          <span>时间：{{current_article.created_at}} </span>
          <span class="author">作者：{{current_article.author}}</span>
        </div>
        <div data-content="{{current_article.content}}" id="details_content"></div>
        <ul class="internet_options">
          <li>
            <span>上一篇：</span>
            {% if prev_article.title %}
            <a href="{{prev_article .full_path}}">
              {{prev_article.title}}
            </a>
            {% else %}
            没有了
            {% endif %}
          </li>

          <li>
            <span>下一篇：</span>
            {% if next_article.title  %}
            <a href="{{next_article .full_path}}">
              {{next_article.title}}
            </a>
            {% else %}
            没有了
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="content_right">
        <ul class="content_right-choose">
          <li class="right_active">
            最新
          </li>
          <li>
            最热
          </li>
        </ul>
        <div class="contact_us-scancode-img">
          <!-- 最热新闻 -->
          <ul class="new-pmd-list new-pmd-list_active">
            {% for item in newest_list %}
            <li>
              <span>
                {% if 10>loop.index %}
                0{{loop.index}}
                {% else %}
                {{loop.index}}
                {% endif %}
              </span>
              <p><a href="{{item.full_path}}">{{item.title}}</a></p>
            </li>
            {% endfor %}
          </ul>
          <!-- 最新 -->
          <ul class="new-pmd-list ">
            {% for item in hot_list %}
            <li>
              <span>0{{loop.index}}</span>
              <p><a href="{{item.full_path}}">{{item.title}}</a></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="body_all fixed—right-bar">
      <div class="frame_right ercodeShow">
        <div class="contact bg-04 "><a><span class="contact-content" style="padding-left:0;">
              <img width="40px" height="40px" src="http://test.qmycm.com/home_images/wechat_Icon.png?v=20120528" alt="刺绣定制"></span></a>
          <div class="erCodeBox"><img src="/static/qrcode_for_gh_d26b6820c648_258.jpg" alt="刺绣定制"></div>
        </div>
      </div>
      <div class="frame_right">
        <div class="contact bg-04">
          <a href="javascript:goTop();">
            <span class="contact-content" style="padding-left:0;">
              <img width="40px" height="40px" src="http://test.qmycm.com/home_images/Return_Icon.png?v=20190528" alt="刺绣定制">
            </span>
          </a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function tabs(tabTit, on, tabCon) {
        $(tabCon).each(function() {
          $(this).children().eq(0).show();

        });
        $(tabTit).each(function() {
          $(this).children().eq(0).addClass(on);
        });
        $(tabTit).children().click(function() {
          $(this).addClass(on).siblings().removeClass(on);
          var index = $(tabTit).children().index(this);
          $(tabCon).children().eq(index).show().siblings().hide();
        });
      }
      tabs(".content_right-choose", "right_active", ".contact_us-scancode-img");
      let content = $("#details_content").data('content');
      $("#details_content").html(content)
    </script>
  </div>
{% include "footer.html" %}
</body>
</html>
